form {
  margin-top: 16px;
}

form .input-block {
  margin-bottom: 16px;
}

form .input-block label {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  font-size: 14px;
  font-weight: 700;
}

form .input-block input {
  border: none;
  background: RGBA(44, 22, 47, 0.1);
  width: 100%;
  height: 32px;
  font-size: 14px;
  padding: 0 8px;
  margin-top: 4px;
  border-radius: 4px;
}

form .side-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

form button[type="submit"] {
  border: none;
  background: #de344a;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  padding: 0 16px;
  border-radius: 4px;
  width: 100%;
  display: block;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
}

form button[type="submit"]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity 200ms linear;
}

form button[type="submit"]:hover::after {
  opacity: 0.1;
}
