li.dev-item {
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 0 0 32px RGBA(44, 22, 47, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

li.dev-item .body {
  padding: 16px 16px 0;
}

li.dev-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.dev-item p {
  opacity: 0.8;
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0;
}
li.dev-item a {
  color: #F095A9;
  font-size: 16px;
  margin-right: auto;
  text-decoration: none;
}

li.dev-item .footer{
  margin-top: auto;  
  display: flex;
  align-items: center;
  background-color: rgb(44, 22, 47);
  padding: 8px 16px;
}

li.dev-item .footer button{
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  padding: 7px;
  position: relative;
  cursor: pointer;
  margin-left: 4px;
}

li.dev-item .footer button::after{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #F095A9;
  opacity: 0;
}

li.dev-item .footer button:hover::after{
  opacity: 0.1;
}


.user-info strong {
  font-size: 18px;
  display: block;
}
.user-info span {
  font-size: 14px;
  display: block;
  color: #EB748A;
}

li.dev-item header img {
  width: 56px;
  height: 56px;
  max-width: 56px;
  max-height: 56px;
  min-width: 56px;
  min-height: 56px;
  border-radius: 50%;
  margin: 0 16px auto 0;
}