#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 64px 32px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#app main {
  margin-left: 32px;
}

@media (max-width: 750px) {
  #app {
    flex-direction: column;
  }

  #app main {
    margin-left: 0;
    margin-top: 32px;
  }

  #app aside {
    width: 100%;
  }
}