@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-shadow: none;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  color: #2C162F;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: #FEFBFF;
  -webkit-font-smoothing: antialiased;
}