main {
  flex: 1;
}

main ul {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

@media (max-width: 1000px) {
  main ul {
    grid-template-columns: 1fr;
  }
}

