aside {
  width: 320px;
  background-color: #fff;
  box-shadow: 0 0 32px RGBA(44, 22, 47, 0.1);
  border-radius: 8px;
  padding: 16px;
}

aside strong {
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  display: block;
}
